<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
		                 http://www.springframework.org/schema/mvc
		                 http://www.springframework.org/schema/mvc/spring-mvc.xsd
		                 http://www.springframework.org/schema/context
		                 http://www.springframework.org/schema/context/spring-context.xsd">



    <!-- 解决响应乱码问题 -->
    <!--suppress SpringFacetInspection -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- 启用spring mvc 注解 -->
    <context:annotation-config />

    <!-- 启动注解驱动的Spring mvc功能 -->
    <mvc:annotation-driven />

    <!-- 篇日志拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/order/**"/>
            <mvc:mapping path="/cart/**"/>
            <mvc:mapping path="/goods/**" />
            <mvc:exclude-mapping path="/login/**" />
            <mvc:exclude-mapping path="/goods/list.page" />
            <mvc:exclude-mapping path="/goods/info.page" />
            <bean id="commonInterceptor" class="com.netease.interceptor.CommonInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 静态资源开放访问 -->
    <mvc:resources mapping="/js/**" location="/WEB-INF/views/js/" />
    <mvc:resources mapping="/css/**" location="/WEB-INF/views/css/" />
    <mvc:resources mapping="/img/**" location="/WEB-INF/views/img/" />
    <!--<mvc:resources mapping="/layer/**" location="/WEB-INF/views/layer/" />-->
    <!--<mvc:resources mapping="/fonts/**" location="/WEB-INF/views/fonts/" />-->
    <!--<mvc:resources mapping="/error/**" location="/WEB-INF/views/error/" />-->

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="com.netease.controller" />
    <context:component-scan base-package="com.netease.service.impl" />

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />

    <bean class="com.netease.common.SpringExceptionResolver" />

    <!--多部分文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="4096" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>